.PlayBackRatePanel {
     color : #CFCFCF;
     font-size: 14px;
     z-Index  : 999999;
     position : absolute;
     right : 2px;
     top : 2px;
     display : inline;
     width : 96px;
     height: 24px;
 }

.PlayBackRatePanelFullScreen {
    color : #CFCFCF;
    font-size: 14px;
    z-Index  : 999999;
    position : absolute;
    right : 60px;
    top : 2px;
    display : inline;
    width : 90px;
    height: 24px;
}

.btn {
    background:rgba(255,255,255,0.5);
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 12px;
	border: 0px;
}

.btn-left {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-right {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:hover {
    background:rgba(255,255,255,0.8);
    text-decoration: none;
}

.btn:focus {outline:0;}

#SpeedDown {
    float: right;
}

#SpeedUp {
    float: right;
}

#PlayBackRate {
    float: right;
	color : #ffffff;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 100%;
    background:rgba(0,0,0,0.5);
    line-height: 20px;
    border-bottom: thin solid rgba(255,255,255,0.5);
    border-top: thin solid rgba(255,255,255,0.5);
	padding: 0px;
}